* {
  font-family: "Times New Roman";
}

body {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

.container {
  position: absolute;
  top: 15%;
  left: 50%;
  margin: 0 0 0 -80px;
}

form {
  vertical-align: middle;
}

input {
  vertical-align: middle;
  display: block;
  margin-bottom: 5px;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  width: 100%
}
